body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background: #282c28;
    padding: 6px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    border: #282c28 solid;
    
}
.right-links {
    display: flex;
    gap: 55px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
  
}
a {
    text-decoration: none;
    color: #f9faf9;
}
.cat {
    height: auto;
    width: 75px;
    border-radius: 25px;
}
.watch {
    height: 281px;
    width: 600px;
    border-radius: 25px;
    border: #f9faf9 solid;
}
.placeholder {
  background-color: #282c28;
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-evenly;
  border: 45px #282c28 solid;
}
.content {
    color: #f9faf9;
    display: flex;
    flex-direction: column;
}
.para {
    max-width: 500px;
    text-align: justify;
}
button {
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;
    background: #800020;
    color: #f9faf9;
}
.name {
    background: #F0EAD6;
    display: flex;
    padding: 12px;
    flex-direction: column;
    border: 20px #F0EAD6 solid;
}
.information {
    text-align: center;
}
.items {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
   
}
.box {
    height: 100px;
    width: 100px;
    border: #800020 solid;
    margin-top: 50px;
    border-radius: 15px 50px;
}
.text {
    text-align: center;
}
.qoute {
    background: #282c28;
    color: #f9faf9;
    padding: 12px;
    text-align: center;
}